

.header-parent {

    display: flex;
    color: #e83e8c;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    padding-top: 14px;
    border-bottom-color: #777777;
    border-bottom-style: solid;
    border-bottom-width: 16px;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #777777;


    div {
        padding-left: 20px;
        // margin-right: 100px;
    }

}