

.header-parent {

    display: flex;
    color: #e83e8c;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    padding-top: 10px;
    // border-bottom-color: #777777;
    // border-bottom-style: solid;
    // border-bottom-width: 16px;
    // border-top-width: 16px;
    // border-top-style: solid;
    // border-top-color: #777777;


    div {
        padding-left: 20px;
        // margin-right: 100px;
    }

}



.homeHeader {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(8, 6, 6, 0.7);
    border-radius: 3rem;
    bottom: 1rem;
    display: flex;
    gap: 2.8rem;
    left: 50%;
    padding: 1.2rem 2.7rem 0.5rem 2.4rem;
    position: fixed;
    transform: translateX(-50%);
    width: max-content;
    z-index: 2;
    color: wheat;
}



.projectsHeader {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background:rgb(0 91 42);
    border-radius: 3rem;
    bottom: 1rem;
    gap: 2.8rem;
    left: 50%;
    padding: 1.2rem 2.7rem 0.5rem 2.4rem;
    display: flex;
    position: fixed;
    transform: translateX(-50%);
    width: max-content;
    color: white;
    z-index: 2;
   
}

.projectsHeader > div :hover {
    opacity: 0.5;
}

.homeHeader > div :hover {
    opacity: 0.5;
}