.technician {

    background-color: beige;
}

.head {

    // margin:  5rem 0rem 0 0rem;
    // background-color: beige;
    
    text-align: center;
    color: #616161;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    padding-top: 1rem;

}

.card {
    // margin: 100px auto;
    margin: 100px 0px 103px 15px;
    max-width: 500px;
    padding-bottom: 100px;
    font-size: 164px;
    width: 250px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
        0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
        0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}

.card-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: -120px;
    background-color: beige;
}

.splash {
    // width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path("M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
        );

   
}

.emoji {
    height: 170px !important;
    width: 170px !important;
    
}

.splashContent {
    width: 790px;
    padding: 5rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    border-radius: 12px;

}

.splashTitle {
    z-index: 1000;
    margin-top: 1rem;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    padding: 10px 10px 10px;
    color: white;
}

@media screen and (max-width: 512px) and (min-width: 320px) {


    .head {

        // margin:  5rem 0rem 0 0rem;
        background-color: beige;
        text-align: center;
        color: #7b6aff;
        font-family: 'Poppins';
        font-weight: 900;
        font-size: 50px;
        margin-top: 17rem;
    }

    .card {
        margin: 30px 100px 178px 100px;
        max-width: 500px;
        padding-bottom: 0px;
        font-size: 164px;
        width: 190px;
        height: 235px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
            0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
            0 0 16px hsl(0deg 0% 0% / 0.075);
        transform-origin: 10% 60%;
    }

    .card-container {
        overflow: hidden;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // position: relative;
        padding-top: 20px;
        // margin-bottom: -120px;
        background-color: beige;
    }



    .splashContent {

        display: none;

    }

    .splashTitle {
        display: none;

    }


}

@media screen and (max-width : 1200px) and (min-width : 512px) {


    .technician {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 225vh; */
        gap: 125px;
    }

    .head {

        // margin:  5rem 0rem 0 0rem;
        background-color: beige;
        text-align: center;
        color: #7b6aff;
        font-family: 'Poppins';
        font-weight: 900;
        font-size: 50px;
        margin-top: 2rem;
    }

    .card {
        margin: 30px 100px 178px 100px;
        max-width: 500px;
        padding-bottom: 0px;
        font-size: 164px;
        width: 190px;
        height: 235px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
            0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
            0 0 16px hsl(0deg 0% 0% / 0.075);
        transform-origin: 10% 60%;


        .emoji {
            height: 150px !important;
            width: 150px !important;
            // object-fit: cover;
            
        }

    }

    .card-container {
        overflow: hidden;
        /* padding-top: 28px; */
        width: 91%;
        height: 21%;
        background-color: beige;
        margin-top: 0%;
    }



    .splashContent {

        width: 60%;
        font-family: "Poppins";
        font-weight: 500;
        color: white;
        border-radius: 62px;
        z-index: 1;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 14px;
        padding: 20px;
    }

    .splashTitle {
        display: none;

    }
}

